a[href^="tel"] {
  text-decoration: inherit;
  color: inherit;
}

.youtube-embed {
  max-width: 100%;
  max-height: fit-content;
}

.email {
  text-decoration: inherit;
  color: inherit;
}

.header-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  margin-top: 15px;
}

.header-logo a {
  color: white;
  font-family: 'Homemade Apple', cursive;
}

.portfolio-more {
  text-align: center;
  margin-top: 40px;
}
