html{
	scroll-behavior: smooth;
}

body{
	background: #000000
}

.navbar{
	position: fixed;
	min-width: 100%;
	padding-left: 25px;
	padding-right: 35px;
	padding-top: 25px;
	padding-bottom: 10px;
	background: #000000;
	z-index: 10;
}

.section-page{
	min-height: 100vh;
}

.heading-faded{
	font-size: 150px;
	color: #646464;
	opacity: 60%;
	padding-top: 25px;
	padding-right: 20px;
	text-align: right;
}

@media screen and (max-width: 768px){
	.heading-faded{
		font-size: 90px;
		color: #646464;
		opacity: 60%;
		text-align: center;
		padding-top: 50px;
	}
}
/*section_introduction*/

#name{
	display: none;
	font-family: Open Sans;
	font-size: 55px;
	color: #ffffff;
}
#intro{
	padding-top: 2.5vh;
	display: none;
	font-family: Open Sans;
	font-size: 30px;
	color: #646464;
}
#scroll-down{
	display: none;
}
@media screen and (max-width: 768px){
	#name{
		display: none;
		font-family: Open Sans;
		font-size: 30px;
		color: #ffffff;
	}
	#intro{
		display: none;
		font-family: Open Sans;
		font-size: 18px;
		color: #646464;
	}
	#scroll-down{
		display: none;
	}
	.scroll-down-icon{
		width: 48px;
		height: 48px;
	}
}

/*section_about*/

#about-text{
	padding-left: 10vw;
	text-align: justify;
	color: #dcdcdc;
	float: right;
	max-width: 70%;
}

#profile-img-container{
	float: left;
	max-width: 30%;
}

#profile-img{
	width: 125%;
	height: 125%;
	border-radius: 50%;
	padding: 10%;
}

@media screen and (max-width: 768px){
	#about-text{
		padding-left: 0;
		padding-right: 0;
		text-align: justify;
		color: #dcdcdc;
		float: none;
	}

	#profile-img-container{
		float: none;
		min-width: 100%;
		text-align: center;
	}

	#profile-img{
		width: 90%;
		height: 90%;
		border-radius: 50%;
	}
}